.nav-link{
    color: var(--secondary-color);
}
nav{
    background-color: var(--primary-color);
}
.logo{
    height: 9vh;
    border-radius: 5%;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}

.navbar-brand{
    padding-left: 10%;
    padding-right: 15%;
}
span h6{
    color: var(--primary-color);
}
.navtwono{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navicons{
    color: var(--primary-color);
    margin-right:10px ;
}
@media only screen and (max-width: 600px) {
    .navtwono{
        position: absolute;
       display: inline-flex;
       right: 0%;
        align-items: center;
        margin-right: -42%;
       justify-content: end;
    }
    .navicons{
        display: none;
    }
    .navbar-brand{
        padding-left: 25%;
        padding-right: 1%;
    }
  }
  
